body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #ff2b5f;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #f5f5f5;
}

nav a {
    text-decoration: none;
    color: black;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

button {
    background: #ff2b5f;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 20px;
}

.cart-item {
    display: flex;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 80px;
}

.qty {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkout-btn {
    width: 90%;
    margin: 20px;
    padding: 15px;
    background: green;
    color: white;
    font-size: 18px;
}
